@page
@model Ado_Clic.Pages.User.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<p>Enter a User name:</p>

<form method="post">
    firstName:
    <input asp-for="User!.PName" />
    lastName:
    <input asp-for="User!.LName" />
    email:
    <input asp-for="User!.Email" />
    UserType:
    <select asp-for="User!.UserType" asp-items="Model.UserTypeList">
        <option value="">Select User Type</option>
    </select>
    <input type="submit" />
</form>