@page
@model Ado_Clic.Pages.SigninModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="container mt-5">
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="text" name="LoginRequest.Email" placeholder="Username" />
        <input type="password" name="LoginRequest.Password" placeholder="Password" />
        <button type="submit">Login</button>
    </form>
</div>
